# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
venv/
env/
.venv/
.env/

# SQLite database
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Django settings file with secret keys (replace with actual file names)
*.env
*.local

# Media and static files (if you don't want to commit user-uploaded files or static files)
media/
static/

# IDE or editor-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

